# Data Collection and Cleaning

In [19]:
import pandas as pd
import warnings
from pandas.core.common import SettingWithCopyWarning
warnings.simplefilter(action='ignore', category = SettingWithCopyWarning)

To collect our data, we scraped online databases of baseball statistics in order to pull all of Derek Jeterâ€™s in game statistics on a game by game basis for every game of his career ranging from 1995 to 2014. This data contained all of his batting statistics including variables such as OPS, BA, CS, GDP, SH, SF, HBP, SO, IBB, RE24, cWPA, and other such acronyms relating to baseball measurements. However, not all of these variables are applicable or comparable in regards to the type of inferences we are trying to make. Thus, in our data cleaning process, we first evaluated which of the variables would be appropriate and comparable for our studies. We came up with a final list of variables including year, home runs, hits, game result, stolen bases, base on balls, and win probability added. These variables are unique in that they are recorded on a game by game basis and do not accumulate, unlike some of the other variables that were included in the stat sheet. Then, with these specific statistics chosen, we cleaned the data by simply excluding the statistics that we did not want, and then combining the statistics that we did want into a single dataframe which is easily processable and neat. Through this process, we cut our dataset from 38 columns over 19 dataframes to a more readable six columns all in one dataframe.

The SettingWithCopyWarning will be suppressed because the stats_clean function produces far too many warnings to the point of distraction and disturbance from the code. The warning arises because the stats_clean function produces a copy of data. However, we set this copy equal to the original dataframe created from loading in the CSV, such that the copy made becomes permanent and the warning is unnecessary.

In [20]:
#def concatenate(indir = 'C:\\Users\\wally\\OneDrive\\Documents\\Cornell\\First Year\\Spring Semester\\INFO 2950 Intro to Data Science\\derek_jeter', outfile = 'C:\\Users\\wally\\OneDrive\\Documents\\GitHub\\project2950\\JeterStats.csv'):
#    os.chdir(indir)
#    fileList = glob.glob('*.csv')
#    dfList = []
#    colnames = ['Year', 'Rk', 'Gcar', 'Gtm', 'Date', 'Tm', 'Column1', 'Opp', 'Rslt', 'Inngs', 'PA', 'AB', 'R', 'H', '2B', '3B', 'HR', 'RBI', 'BB', 'IBB', 'SO', 'HBP', 'SH', 'SF', 'ROE',
#                'GDP', 'SB', 'CS', 'BA', 'OBP', 'SLG', 'OPS', 'BOP', 'aLI', 'WPA', 'acLI', 'cWPA', 'RE24', 'Pos']
#    for filename in fileList:
#        df = pd.read_csv(filename,header=None)
#        dfList.append(df)
#    concatDf = pd.concat(dfList,axis=0)
#    concatDf.columns = colnames
#    concatDf.to_csv(outfile,index=None)

#concatenate()

With this funciton, I processed 20 different CSV files, each of a different year of Derek Jeter's career, and concatenated them into one CSV file. I went through this consolidated CSV afterwards in order to cealn up some formatting/encoding erros by hand. This resulted in a single CSV sheet of all the games Derek Jeter played in his career. With this function, I was also able to process 22 different CSV files, each of a different year of Alex Rodriguez's career, and concatenate them into one CSV file. I had to go through the consolidated CSV afterwards in order to clean up some formatting/encoding errors, where the beginning year of each new year of Rodriguez's career had a non-unicode compatible symbol. I deleted these errors by hand to result in a single CSV sheet of all the games Rodriguez played in his career.

In [21]:
def stats_clean(player):
    player = player[['Year','Rk','Rslt', 'PA', 'H', 'HR', 'SB', 'BB', 'WPA',]]
    player['win'] = player.Rslt.apply(lambda x: 1 if 'W' in x else 0)
    player['0SB'] = (player['SB'] == 0)
    player['1SB'] = (player['SB'] == 1)
    player['2SB'] = (player['SB'] == 2)
    player['3SB'] = (player['SB'] == 3)
    player['4SB'] = (player['SB'] == 4)
    player["0SB"] = player["0SB"].astype(int)
    player["1SB"] = player["1SB"].astype(int)
    player["2SB"] = player["2SB"].astype(int)
    player["3SB"] = player["3SB"].astype(int)
    player["4SB"] = player["4SB"].astype(int)
    return player

This function allows the fast cleaning of data tables (which contain a lot of stats that we are not utilizing in our examination of each player) and cuts down on the amount of repetitive code. This code pulls out a select number of columns, including the result of the game (Rslt), hits (H), homeruns (HR), walks (BB), and win percentage added (WPA). In addition, this function adds a column called 'win' to the resultant dataframe, which reads the Rslt column and adds a 1 to the column if there is a W under Rslt, and adds a 0 if there is a L under Rslt.

## Derek Jeter

In [22]:
jeter = pd.read_csv("JeterStats.csv")
jeter = stats_clean(jeter)
jeter.to_csv('C:\\Users\\wally\\OneDrive\\Documents\\GitHub\\project2950\\JeterStats.csv', index=None)
jeter.head()

   Year  Rk    Rslt  PA  H  HR  SB  BB    WPA  win  0SB  1SB  2SB  3SB  4SB
0  1995   1   L,7-8   5  0   0   0   0 -0.231    0    1    0    0    0    0
1  1995   2   L,3-7   4  2   0   0   1  0.066    0    1    0    0    0    0
2  1995   3  L,9-11   4  1   0   0   1  0.072    0    1    0    0    0    0
3  1995   4   L,2-3   3  0   0   0   0 -0.072    0    1    0    0    0    0
4  1995   5   L,2-4   4  1   0   0   0  0.045    0    1    0    0    0    0

## Bernie Williams

BernabÃ© (Bernie) Williams Figueroa Jr. is a Puerto Rican former professional baseball player. He played his entire 16-year career in Major League Baseball with the New York Yankees from 1991 through 2006. He was a center fielder.

In [23]:
williams = pd.read_csv('williams_1999.csv')
williams = stats_clean(williams)
williams.to_csv('C:\\Users\\wally\\OneDrive\\Documents\\GitHub\\project2950\\williams_1999.csv', index=None)
williams.head()

   Year  Rk    Rslt  PA  H  HR  SB  BB    WPA  win  0SB  1SB  2SB  3SB  4SB
0  1999   1   L,3-5   4  1   0   0   0 -0.033    0    1    0    0    0    0
1  1999   2   W,7-4   5  2   0   0   1 -0.006    1    1    0    0    0    0
2  1999   3   W,4-0   4  0   0   0   0 -0.079    1    1    0    0    0    0
3  1999   4  W,12-3   3  0   0   0   0 -0.025    1    1    0    0    0    0
4  1999   5   W,5-0   4  3   0   0   0  0.071    1    1    0    0    0    0

## Nomar Garciaparra

Nomar Garciaparra is an American former professional baseball shortstop. After playing parts of nine seasons as a shortstop for the Boston Red Sox, he played shortstop, third base and first base for the Chicago Cubs, Los Angeles Dodgers, and the Oakland Athletics.

In [24]:
garciaparra = pd.read_csv('garciaparra_1999.csv')
garciaparra = stats_clean(garciaparra)
garciaparra.to_csv('C:\\Users\\wally\\OneDrive\\Documents\\GitHub\\project2950\\garciaparra_1999.csv', index=None)
garciaparra.head()

   Year  Rk   Rslt  PA  H  HR  SB  BB    WPA  win  0SB  1SB  2SB  3SB  4SB
0  1999   1  W,5-3   5  1   0   0   1 -0.019    1    1    0    0    0    0
1  1999   2  W,6-0   5  1   0   0   2  0.093    1    1    0    0    0    0
2  1999   3  L,4-5   1  0   0   0   0 -0.087    0    1    0    0    0    0
3  1999   4  W,8-5   5  1   0   0   1 -0.042    1    1    0    0    0    0
4  1999   5  L,1-5   4  2   0   1   2  0.157    0    0    1    0    0    0

## Alex Rodriguez
Alexander Enmanuel Rodriguez, nicknamed "A-Rod," is an American former professional baseball shortstop and third baseman, businessman and philanthropist. Rodriguez played 22 seasons in Major League Baseball for the Seattle Mariners, Texas Rangers, and New York Yankees.

In [25]:
rodriguez = pd.read_csv('arod_concatenated.csv')
rodriguez = stats_clean(rodriguez)
rodriguez.to_csv('C:\\Users\\wally\\OneDrive\\Documents\\GitHub\\project2950\\arod_concatenated.csv', index=None)
rodriguez.head()

   Year  Rk    Rslt  PA  H  HR  SB  BB    WPA  win  0SB  1SB  2SB  3SB  4SB
0  1994   1   L,3-4   3  0   0   0   0 -0.099    0    1    0    0    0    0
1  1994   2   W,7-4   4  2   0   1   0  0.043    1    0    1    0    0    0
2  1994   3   L,2-9   4  0   0   0   0 -0.026    0    1    0    0    0    0
3  1994   4  L,8-13   4  1   0   1   0 -0.015    0    0    1    0    0    0
4  1994   5  L,8-10   5  1   0   0   0 -0.205    0    1    0    0    0    0